.numberStyle {
    font-size: 0.75rem;
    border-radius: 999px;
    border-color: transparent;
    background: var(--gray-400);
    color: var(--gray-200);
    margin: 0;
    margin-top: 0.2rem;
    margin-left: 0.25rem;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.tarafasCriadas {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blue);
}

.div {
    display: flex;
}